<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd  ">
    <context:component-scan base-package="com.vt.stocktickerserver"></context:component-scan>
    
    <context:annotation-config></context:annotation-config>

    <bean id="clientRegistry" class="com.vt.stocktickerserver.ClientRegistry">    </bean>
    <bean id="server" class="com.vt.stocktickerserver.EventServer"></bean>
    <bean id="dataPublisher" class="com.vt.stocktickerserver.DataPublisher"></bean>
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="dataPublisher"/>
        <property name="targetMethod" value="publishTick"/>
        <property name="concurrent" value="false"/>
    </bean>
    <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <!-- see the example of method invoking job above -->
        <property name="jobDetail" ref="jobDetail"/>
        <property name="startDelay" value="1000"/>
        <property name="repeatInterval" value="100"/>
    </bean>
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="simpleTrigger"/>
            </list>
        </property>
    </bean>

</beans>